doctype html
html(lang="en")
    head
        //Meta tags
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="autor", content="")
        meta(name="copyright", content="")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="theme-color", content="#1B396A")
        //Open Graph Protocol
        meta(property="og:title", content="")
        meta(property="og:description", content="")
        meta(property="og:type", content="")
        meta(property="og:url", content="")
        meta(property="og:img", content="")
        //Link tags
        link(rel="stylesheet", type="text/css", href="./origin/css/styles.css")
        link(rel="icon", href="./origin/multimedia/img/favicon.png")
        link(rel="apple-touch-icon", href="./origin/multimedia/img/favicon.png")
        link(rel="canonical", href="")
        title Error 404
    body 
        noscript 
            h2 Tú necesitas tener habilitado JavScript en tu navegador para acceder a esta página.
        div.container
            main.error
                div.error-container
                    h1.error-container__h1 ERROR 404
                    p.error-container__p No existe esta URL, volver al inicio.